* {
  width: 800px;
  margin: 0 auto;
}

.container {
  display: flex;
  background-color: #eee;
  flex-wrap: wrap;
  text-align: center;
}

header {
  background-color: #4c2676;
  color: #f0f0f0;
  padding-bottom: 6px;
  padding-left: 25px;
}

.row h1 {
  text-align: left;
}

img {
  max-width: 40%;
}

button {
  background-color: #4c2676;
  color: #f0f0f0;
  width: 15%;
  font-size: 12px;
  margin-left: 500px;
  margin-bottom: 30px;

}

label {
  display: block;
  width: 100%;
  text-align: left;
}

input {
  display: block;
  width: 100%;
}

input, textarea {
  width: 80%;
}
